.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .container p {
    margin: 10px 0;
    color: #555;
  }
  
  .container  h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .button{
    width: 300px;
    height: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .button button{
    padding: 2px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.653);
  }
  .button button:first-child{
    background-color: rgba(45, 171, 171, 0.541);
  }
  .button button:last-child{
    background-color: rgba(181, 46, 46, 0.756);
  }